# Strings

Strings and chars hve no differentiation

In [1]:
a="kanav"

In [2]:
print(a)

kanav

In [3]:
a[1]=y

NameError: name 'y' is not defined

## we  cannot change a particular character of a string like in c++

## Hence strings are immutable
## Instead we can use ord() and chr()

In [4]:
ord('bac')

TypeError: ord() expected a character, but string of length 3 found

In [5]:
ord('a')

97

In [6]:
ord("A")

65

In [7]:
chr(97)

'a'

In [8]:
chr(0)

'\x00'

In [9]:
chr(1)

'\x01'

In [10]:
chr(65)

'A'

In [11]:
print(chr(1))



hehe

# some String Operations

In [12]:
b="hello"

In [13]:
x=1
y=2
z=3

In [15]:
print("%d-%d-%d" %(x,y,z))

1-2-3

### the above format is a strict format like in C or c++

In [16]:
print("%d-%d-%d" %(b,y,z))

TypeError: %d format: a number is required, not str

### Below is the python version

In [17]:
print("{}-{}-{}")

{}-{}-{}

In [18]:
print("{}-{}-{}".format(b,x,y))

hello-1-2

In [26]:
firstname = "kanav"
lastname = "garg"

In [28]:
print(f"{firstname} {lastname}")

kanav garg

## a.strip()

In [32]:
a="          hoye .   lklk lk jo      "

In [33]:
print(a)

          hoye .   lklk lk jo

In [34]:
print(a.strip())

hoye .   lklk lk jo

# a.split()

In [36]:
a=input()

1 2 3 4 5 6 7 8

In [37]:
a

'1 2 3 4 5 6 7 8'

In [38]:
print(a)

1 2 3 4 5 6 7 8

In [39]:
a.split(' ')

['1', '2', '3', '4', '5', '6', '7', '8']

In [46]:
b=a.split(' ')

In [47]:
b

['1', '2', '3', '4', '5', '6', '7', '8']

In [50]:
b[1]

'2'

In [51]:
a[1]

' '

In [52]:
a="kanav"

In [53]:
a.replace('k', 'j')

'janav'

In [54]:
print(a)

kanav

In [55]:
b='aaaaaassdscccccccccddddd'

In [56]:
b.replace("a",'b')

'bbbbbbssdscccccccccddddd'

In [57]:
b.count('a')

6

# lists

## lists are heterogenous

In [59]:
a=["jatin",34, 65.9]

In [60]:
a

['jatin', 34, 65.9]

In [61]:
a[1]

34

In [62]:
len(a)

3

In [63]:
a+a

['jatin', 34, 65.9, 'jatin', 34, 65.9]

In [64]:
a*4

['jatin', 34, 65.9, 'jatin', 34, 65.9, 'jatin', 34, 65.9, 'jatin', 34, 65.9]

In [65]:
jatin in a

NameError: name 'jatin' is not defined

In [66]:
"jatin" in a

True

In [67]:
34 in a

True

In [68]:
45 in a

False

In [70]:
for x in a:
    print(x,end=" ")

jatin 34 65.9

## backward indexing

In [71]:
a[-1]

65.9

In [72]:
a[-2]

34

In [73]:
a="kanav"

In [74]:
a[-3]

'n'

## subarrays

In [75]:
a=[1,2,3,4,5]

In [76]:
a[1:4]

[2, 3, 4]

In [77]:
a[0:5:2]

[1, 3, 5]

In [78]:
a="kanav"

In [79]:
a[:]

'kanav'

In [80]:
a[::-1]

'vanak'

#### NOICE!

## append and insert

In [83]:
a=["kanav"]

In [84]:
a.insert(0,"hello")

In [85]:
a

['hello', 'kanav']

In [86]:
a.append("heyu")

In [87]:
a

['hello', 'kanav', 'heyu']

In [88]:
## remove , pop, del

In [89]:
a=[1,2,3,4,1,2,3,4]

In [90]:
a.pop(2)

3

In [91]:
a.remove(1)

In [92]:
a

[2, 4, 1, 2, 3, 4]

In [94]:
del a[3]

In [95]:
a

[2, 4, 1, 3, 4]

In [96]:
del a

In [97]:
a

NameError: name 'a' is not defined

In [98]:
a=[1,3,7,2,8,2,4,5,8,3]

In [99]:
sorted(a)

[1, 2, 2, 3, 3, 4, 5, 7, 8, 8]

In [100]:
a

[1, 3, 7, 2, 8, 2, 4, 5, 8, 3]

In [101]:
a.sort()

In [102]:
a

[1, 2, 2, 3, 3, 4, 5, 7, 8, 8]

In [104]:
for i in reversed(a):
    print(i)

8
8
7
5
4
3
3
2
2
1

In [105]:
a

[1, 2, 2, 3, 3, 4, 5, 7, 8, 8]

In [106]:
a.reverse()

In [107]:
a

[8, 8, 7, 5, 4, 3, 3, 2, 2, 1]

# tuple

In [1]:
a=(1,4,6,8)

In [2]:
type(a)

tuple

In [3]:
b,c,d,e=a

In [5]:
b

1

In [6]:
b=1,5,3,9

In [7]:
type(b)

tuple

## swapping using tuple

In [8]:
a=5
b=9

In [9]:
a,b=b,a

In [10]:
a,b

(9, 5)

In [11]:
a=1,3,5,7,8,9

In [12]:
type(a)

tuple

In [13]:
b=list(a)

In [14]:
type(b)

list

In [15]:
b

[1, 3, 5, 7, 8, 9]

## returning multiple values from a function

In [16]:
def addsub(a,b):
    return a+b,a-b

In [17]:
sum, diff=addsub(9,3)

In [18]:
sum

12

In [20]:
diff

6

In [21]:
a=input()

1 2 3 4 5 6 7 8 9

In [22]:
a.split(' ')

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [23]:
type(a[1])

str

In [26]:
a=int(a[1])

ValueError: invalid literal for int() with base 10: ' '

# Dictionary
#### - have key-value pairs
#### - iterable

## functions in dictionary

- .keys()
- .values()
- .items()
- .get()
- .clear()

# set
### - mutable
### - defined by curly braces but key-value pairs are not given, so it becomes a set

In [27]:
a={1,2,3,4,5,6}

In [28]:
b={1,3,5,6,8}

In [29]:
a.intersection(b)

{1, 3, 5, 6}

In [30]:
a-b

{2, 4}

In [32]:
a.union(b)

{1, 2, 3, 4, 5, 6, 8}

In [33]:
for i in a:
    print(i)

1
2
3
4
5
6

In [34]:
a={1,2,1,2,1,2,1,2,2,3,3,4,}

In [35]:
len(a)

4

In [36]:
list(a)

[1, 2, 3, 4]

In [37]:
a

{1, 2, 3, 4}

In [38]:
a=[1,2,1,2,1,2,1,2,2,3,3,4]

In [39]:
a

[1, 2, 1, 2, 1, 2, 1, 2, 2, 3, 3, 4]

In [40]:
list(set(a))

[1, 2, 3, 4]

In [41]:
a

[1, 2, 1, 2, 1, 2, 1, 2, 2, 3, 3, 4]

In [43]:
a=list(set(a))

In [44]:
a

[1, 2, 3, 4]

# comprehension

## list comprehesion

In [45]:
a=[i**2 for i in range(10,20,2)]

In [46]:
a

[100, 144, 196, 256, 324]

## dictionary comprehension

In [47]:
a={i:i**2 for i in range(10)}

In [48]:
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

##  not tuple comprehension

In [49]:
a=(i**2 for i in range(8))

In [50]:
a

In [51]:
type(a)

generator